      <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Numero</th>
                <th scope="col">Imei</th>
                <th scope="col">Propietario</th>
                <th scope="col">Compania</th>
                <th scope="col">Estado Pericia</th>
                <th scope="col">Accion</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let phone of phones">
                <th>{{phone.brand}}</th>
                <td>{{phone.model}}</td>
                <td>{{phone.number}}</td>
                <td>{{phone.imei}}</td>
                <td>{{phone.owner}}</td>
                <td>{{phone.company}}</td>
                <td>{{phone.state}}</td>
                <td>
                  <a class="btn btn-primary btn-sm" routerLink="/form/{{phone.id}}">Ver/Editar</a>
                  <a class="btn btn-primary btn-danger" (click)="delete(phone.id)">Eliminar</a>
                </td>
              </tr>
            </tbody>
      </table>